<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<suite name="Suite" parallel="tests" thread-count="20">
  <test id="1" name="Desktop1">
    <parameter name="selenium.machinename" value="Desktop1"/>
    <parameter name="selenium.host" value="localhost"/>
    <parameter name="selenium.port" value="7851"/>
    <parameter name="selenium.browser" value="Chrome"/>
    <parameter id="1" name="selenium.url" value="https://uat.xcmsolutions.com/xcmv2/account/login?ReturnUrl=%2Fxcmv2%2F"/>
    <parameter id="1" name="selenium.os" value="Windows"/>
    <parameter id="1" name="selenium.browserVersion" value="60"/>
    <parameter id="1" name="selenium.osVersion" value="10"/>
    <parameter id="1" name="TestData.SheetNumber" value="1"/>
    <classes name="1">
      <class id="1" name="TestCases.TestCases"/>
      <methods id="1">
        <include name="TC_Login"/>
        <exclude name="UR_IPA_01"/>
        <exclude name="UR_IPA_02"/>
        <exclude name="UR_IPA_03"/>
        <exclude name="UR_IPA_04"/>
        <exclude name="UR_IPA_05"/>
        <exclude name="UR_IPA_06"/>
        <exclude name="UR_IPA_07"/>
        <exclude name="UR_IPA_08"/>
        <exclude name="UR_IPA_09"/>
        <exclude name="UR_IPA_10"/>
        <exclude name="UR_IPA_11"/>
        <exclude name="UR_IPA_12"/>
        <exclude name="UR_IPA_13"/>
        <exclude name="UR_IPA_14"/>
        <exclude name="UR_IPA_15"/>
        <exclude name="UR_IPA_16"/>
        <exclude name="UR_IPA_17"/>
        <exclude name="UR_CLD_01"/>
        <exclude name="UR_CLD_02"/>
        <exclude name="UR_CLD_03"/>
        <exclude name="UR_CLD_04"/>
        <exclude name="UR_CLD_05"/>
        <exclude name="UR_CLD_06"/>
        <exclude name="UR_CLD_07"/>
        <exclude name="UR_CLD_08"/>
        <exclude name="UR_CLD_09"/>
        <exclude name="UR_CLD_10"/>
        <exclude name="UR_CLD_11"/>
        <exclude name="UR_CLD_12"/>
        <exclude name="UR_CLD_13"/>
        <exclude name="UR_CLD_14"/>
        <exclude name="UR_CLD_15"/>
        <exclude name="UR_CLD_16"/>
        <exclude name="UR_CLD_17"/>
        <exclude name="TDR_EFS_01"/>
        <exclude name="TDR_EFS_02"/>
        <exclude name="TDR_EFS_03"/>
        <exclude name="TDR_EFS_04"/>
        <exclude name="TDR_EFS_05"/>
        <exclude name="TDR_EFS_06"/>
        <exclude name="TDR_EFS_07"/>
        <exclude name="TDR_EFS_08"/>
        <exclude name="TDR_EFS_09"/>
        <exclude name="TDR_EFS_10"/>
        <exclude name="TDR_EFS_11"/>
        <exclude name="TDR_EFS_12"/>
        <exclude name="TDR_EFS_13"/>
        <exclude name="TDR_EFS_14"/>
        <exclude name="TDR_EFS_15"/>
        <exclude name="TDR_EFS_16"/>
        <exclude name="TDR_EFS_17"/>
        <exclude name="TDR_CAS_01"/>
        <exclude name="TDR_CAS_02"/>
        <exclude name="TDR_CAS_03"/>
        <exclude name="TDR_CAS_04"/>
        <exclude name="TDR_CAS_05"/>
        <exclude name="TDR_CAS_06"/>
        <exclude name="TDR_CAS_07"/>
        <exclude name="TDR_CAS_08"/>
        <exclude name="TDR_CAS_09"/>
        <exclude name="TDR_CAS_10"/>
        <exclude name="TDR_CAS_11"/>
        <exclude name="TDR_CAS_12"/>
        <exclude name="TDR_CAS_13"/>
        <exclude name="TDR_CAS_14"/>
        <exclude name="TDR_CAS_15"/>
        <exclude name="TDR_CAS_16"/>
        <exclude name="TDR_SBD_01"/>
        <exclude name="TDR_SBD_02"/>
        <exclude name="TDR_SBD_03"/>
        <exclude name="TDR_SBD_04"/>
        <exclude name="TDR_SBD_05"/>
        <exclude name="TDR_SBD_06"/>
        <exclude name="TDR_SBD_07"/>
        <exclude name="TDR_SBD_08"/>
        <exclude name="TDR_SBD_09"/>
        <exclude name="TDR_SBD_10"/>
        <exclude name="TDR_SBD_11"/>
        <exclude name="TDR_SBD_12"/>
        <exclude name="TDR_SBD_13"/>
        <exclude name="TDR_SBD_14"/>
        <exclude name="TDR_SBD_15"/>
        <exclude name="TDR_SBD_16"/>
        <exclude name="TDR_DET_01"/>
        <exclude name="TDR_DET_02"/>
        <exclude name="TDR_DET_03"/>
        <exclude name="TDR_DET_04"/>
        <exclude name="TDR_DET_05"/>
        <exclude name="TDR_DET_06"/>
        <exclude name="TDR_DET_07"/>
        <exclude name="TDR_DET_08"/>
        <exclude name="TDR_DET_09"/>
        <exclude name="TDR_DET_10"/>
        <exclude name="TDR_DET_11"/>
        <exclude name="TDR_DET_12"/>
        <exclude name="TDR_DET_13"/>
        <exclude name="TDR_DET_14"/>
        <exclude name="TDR_DET_15"/>
        <exclude name="TDR_DET_16"/>
        <exclude name="TDR_DET_17"/>
        <exclude name="UR_CLS_01"/>
        <exclude name="UR_CLS_02"/>
        <exclude name="UR_CLS_03"/>
        <exclude name="UR_CLS_04"/>
        <exclude name="UR_CLS_05"/>
        <exclude name="UR_CLS_06"/>
        <exclude name="UR_CLS_07"/>
        <exclude name="UR_CLS_08"/>
        <exclude name="UR_CLS_09"/>
        <exclude name="UR_CLS_10"/>
        <exclude name="UR_CLS_11"/>
        <exclude name="UR_CLS_12"/>
        <exclude name="UR_CLS_13"/>
        <exclude name="UR_CLS_14"/>
        <exclude name="UR_CLS_15"/>
        <exclude name="UR_CLS_16"/>
        <exclude name="UR_CLS_17"/>
        <exclude name="SR_UW_01"/>
        <exclude name="SR_UW_02"/>
        <exclude name="SR_UW_03"/>
        <exclude name="SR_UW_04"/>
        <exclude name="SR_UW_05"/>
        <exclude name="SR_UW_06"/>
        <exclude name="SR_UW_07"/>
        <exclude name="SR_UW_08"/>
        <exclude name="SR_UW_09"/>
        <exclude name="SR_UW_10"/>
        <exclude name="SR_UW_11"/>
        <exclude name="SR_UW_12"/>
        <exclude name="SR_UW_13"/>
        <exclude name="SR_UW_14"/>
        <exclude name="SR_UW_15"/>
        <exclude name="SR_UW_16"/>
        <exclude name="DDR_SDF_01"/>
        <exclude name="DDR_SDF_02"/>
        <exclude name="DDR_SDF_03"/>
        <exclude name="DDR_SDF_04"/>
        <exclude name="DDR_SDF_05"/>
        <exclude name="DDR_SDF_06"/>
        <exclude name="DDR_SDF_07"/>
        <exclude name="DDR_SDF_08"/>
        <exclude name="DDR_SDF_09"/>
        <exclude name="DDR_SDF_10"/>
        <exclude name="DDR_SDF_11"/>
        <exclude name="DDR_SDF_12"/>
        <exclude name="DDR_SDF_13"/>
        <exclude name="DDR_SDF_14"/>
        <exclude name="DDR_SDF_15"/>
        <exclude name="DDR_SDF_16"/>
        <exclude name="DDR_SDF_17"/>
        <exclude name="TDR_SBS_001"/>
        <exclude name="TDR_SBS_002"/>
        <exclude name="TDR_SBS_003"/>
        <exclude name="TDR_SBS_004"/>
        <exclude name="TDR_SBS_005"/>
        <exclude name="TDR_SBS_006"/>
        <exclude name="TDR_SBS_007"/>
        <exclude name="TDR_SBS_008"/>
        <exclude name="TDR_SBS_009"/>
        <exclude name="TDR_SBS_010"/>
        <exclude name="TDR_SBS_011"/>
        <exclude name="TDR_SBS_012"/>
        <exclude name="TDR_SBS_013"/>
        <exclude name="TDR_SBS_014"/>
        <exclude name="TDR_SBS_015"/>
        <exclude name="TDR_SBS_016"/>
        <exclude name="TDR_SBCE_001"/>
        <exclude name="TDR_SBCE_002"/>
        <exclude name="TDR_SBCE_003"/>
        <exclude name="TDR_SBCE_004"/>
        <exclude name="TDR_SBCE_005"/>
        <exclude name="TDR_SBCE_006"/>
        <exclude name="TDR_SBCE_007"/>
        <exclude name="TDR_SBCE_008"/>
        <exclude name="TDR_SBCE_009"/>
        <exclude name="TDR_SBCE_010"/>
        <exclude name="TDR_SBCE_011"/>
        <exclude name="TDR_SBCE_012"/>
        <exclude name="TDR_SBCE_013"/>
        <exclude name="TDR_SBCE_014"/>
        <exclude name="TDR_SBCE_015"/>
        <exclude name="TDR_SBCE_016"/>
        <exclude name="TDR_TTC_01"/>
        <exclude name="TDR_TTC_02"/>
        <exclude name="TDR_TTC_03"/>
        <exclude name="TDR_TTC_04"/>
        <exclude name="TDR_TTC_05"/>
        <exclude name="TDR_TTC_06"/>
        <exclude name="TDR_TTC_07"/>
        <exclude name="TDR_TTC_08"/>
        <exclude name="TDR_TTC_09"/>
        <exclude name="TDR_TTC_10"/>
        <exclude name="TDR_TTC_11"/>
        <exclude name="TDR_TTC_12"/>
        <exclude name="TDR_TTC_13"/>
        <exclude name="TDR_TTC_14"/>
        <exclude name="TDR_TTC_15"/>
        <exclude name="TDR_TTC_16"/>
        <exclude name="TDR_TTC_17"/>
        <exclude name="TDR_OUT_01"/>
        <exclude name="TDR_OUT_02"/>
        <exclude name="TDR_OUT_03"/>
        <exclude name="TDR_OUT_04"/>
        <exclude name="TDR_OUT_05"/>
        <exclude name="TDR_OUT_06"/>
        <exclude name="TDR_OUT_07"/>
        <exclude name="TDR_OUT_08"/>
        <exclude name="TDR_OUT_09"/>
        <exclude name="TDR_OUT_10"/>
        <exclude name="TDR_OUT_11"/>
        <exclude name="TDR_OUT_12"/>
        <exclude name="TDR_OUT_13"/>
        <exclude name="TDR_OUT_14"/>
        <exclude name="TDR_OUT_15"/>
        <exclude name="TDR_OUT_16"/>
        <exclude name="TDR_TSA_01"/>
        <exclude name="TDR_TSA_02"/>
        <exclude name="TDR_TSA_03"/>
        <exclude name="TDR_TSA_04"/>
        <exclude name="TDR_TSA_05"/>
        <exclude name="TDR_TSA_06"/>
        <exclude name="TDR_TSA_07"/>
        <exclude name="TDR_TSA_08"/>
        <exclude name="TDR_TSA_09"/>
        <exclude name="TDR_TSA_10"/>
        <exclude name="TDR_TSA_11"/>
        <exclude name="TDR_TSA_12"/>
        <exclude name="TDR_TSA_13"/>
        <exclude name="TDR_TSA_14"/>
        <exclude name="TDR_TSA_15"/>
        <exclude name="TDR_TSA_16"/>
        <exclude name="TDR_TSA_17"/>
        <exclude name="UR_IPO_01"/>
        <exclude name="UR_IPO_02"/>
        <exclude name="UR_IPO_03"/>
        <exclude name="UR_IPO_04"/>
        <exclude name="UR_IPO_05"/>
        <exclude name="UR_IPO_06"/>
        <exclude name="UR_IPO_07"/>
        <exclude name="UR_IPO_08"/>
        <exclude name="UR_IPO_09"/>
        <exclude name="UR_IPO_10"/>
        <exclude name="UR_IPO_11"/>
        <exclude name="UR_IPO_12"/>
        <exclude name="UR_IPO_13"/>
        <exclude name="UR_IPO_14"/>
        <exclude name="UR_IPO_15"/>
        <exclude name="UR_IPO_16"/>
        <exclude name="UR_IPO_17"/>
        <exclude name="UR_MCT_01"/>
        <exclude name="UR_MCT_02"/>
        <exclude name="UR_MCT_03"/>
        <exclude name="UR_MCT_04"/>
        <exclude name="UR_MCT_05"/>
        <exclude name="UR_MCT_06"/>
        <exclude name="UR_MCT_07"/>
        <exclude name="UR_MCT_08"/>
        <exclude name="UR_MCT_09"/>
        <exclude name="UR_MCT_10"/>
        <exclude name="UR_MCT_11"/>
        <exclude name="UR_MCT_12"/>
        <exclude name="UR_MCT_13"/>
        <exclude name="UR_MCT_14"/>
        <exclude name="UR_MCT_15"/>
        <exclude name="UR_MCT_16"/>
        <exclude name="UR_TIM_01"/>
        <exclude name="UR_TIM_02"/>
        <exclude name="UR_TIM_03"/>
        <exclude name="UR_TIM_04"/>
        <exclude name="UR_TIM_05"/>
        <exclude name="UR_TIM_06"/>
        <exclude name="UR_TIM_07"/>
        <exclude name="UR_TIM_08"/>
        <exclude name="UR_TIM_09"/>
        <exclude name="UR_TIM_10"/>
        <exclude name="UR_TIM_11"/>
        <exclude name="UR_TIM_12"/>
        <exclude name="UR_TIM_13"/>
        <exclude name="UR_TIM_14"/>
        <exclude name="UR_TIM_15"/>
        <exclude name="UR_TIM_16"/>
        <exclude name="DDR_BD_01"/>
        <exclude name="DDR_BD_02"/>
        <exclude name="DDR_BD_03"/>
        <exclude name="DDR_BD_04"/>
        <exclude name="DDR_BD_05"/>
        <exclude name="DDR_BD_06"/>
        <exclude name="DDR_BD_07"/>
        <exclude name="DDR_BD_08"/>
        <exclude name="DDR_BD_09"/>
        <exclude name="DDR_BD_10"/>
        <exclude name="DDR_BD_11"/>
        <exclude name="DDR_BD_12"/>
        <exclude name="DDR_BD_13"/>
        <exclude name="DDR_BD_14"/>
        <exclude name="DDR_BD_15"/>
        <exclude name="DDR_BD_16"/>
        <exclude name="DDR_BD_17"/>
        <exclude name="DDR_BDDF_01"/>
        <exclude name="DDR_BDDF_02"/>
        <exclude name="DDR_BDDF_03"/>
        <exclude name="DDR_BDDF_04"/>
        <exclude name="DDR_BDDF_05"/>
        <exclude name="DDR_BDDF_06"/>
        <exclude name="DDR_BDDF_07"/>
        <exclude name="DDR_BDDF_08"/>
        <exclude name="DDR_BDDF_09"/>
        <exclude name="DDR_BDDF_10"/>
        <exclude name="DDR_BDDF_11"/>
        <exclude name="DDR_BDDF_12"/>
        <exclude name="DDR_BDDF_13"/>
        <exclude name="DDR_BDDF_14"/>
        <exclude name="DDR_BDDF_15"/>
        <exclude name="DDR_BDDF_16"/>
        <exclude name="DDR_BDDF_17"/>
        <exclude name="DDR_BDDS_01"/>
        <exclude name="DDR_BDDS_02"/>
        <exclude name="DDR_BDDS_03"/>
        <exclude name="DDR_BDDS_04"/>
        <exclude name="DDR_BDDS_05"/>
        <exclude name="DDR_BDDS_06"/>
        <exclude name="DDR_BDDS_07"/>
        <exclude name="DDR_BDDS_08"/>
        <exclude name="DDR_BDDS_09"/>
        <exclude name="DDR_BDDS_10"/>
        <exclude name="DDR_BDDS_11"/>
        <exclude name="DDR_BDDS_12"/>
        <exclude name="DDR_BDDS_13"/>
        <exclude name="DDR_BDDS_14"/>
        <exclude name="DDR_BDDS_15"/>
        <exclude name="DDR_BDDS_16"/>
        <exclude name="DDR_BDDS_17"/>
        <exclude name="DDR_EXT_01"/>
        <exclude name="DDR_EXT_02"/>
        <exclude name="DDR_EXT_03"/>
        <exclude name="DDR_EXT_04"/>
        <exclude name="DDR_EXT_05"/>
        <exclude name="DDR_EXT_06"/>
        <exclude name="DDR_EXT_07"/>
        <exclude name="DDR_EXT_08"/>
        <exclude name="DDR_EXT_09"/>
        <exclude name="DDR_EXT_10"/>
        <exclude name="DDR_EXT_11"/>
        <exclude name="DDR_EXT_12"/>
        <exclude name="DDR_EXT_13"/>
        <exclude name="DDR_EXT_14"/>
        <exclude name="DDR_EXT_15"/>
        <exclude name="DDR_EXT_16"/>
        <exclude name="DDR_EXT_17"/>
        <exclude name="DDR_SUM_01"/>
        <exclude name="DDR_SUM_02"/>
        <exclude name="DDR_SUM_03"/>
        <exclude name="DDR_SUM_04"/>
        <exclude name="DDR_SUM_05"/>
        <exclude name="DDR_SUM_06"/>
        <exclude name="DDR_SUM_07"/>
        <exclude name="DDR_SUM_08"/>
        <exclude name="DDR_SUM_09"/>
        <exclude name="DDR_SUM_10"/>
        <exclude name="DDR_SUM_11"/>
        <exclude name="DDR_SUM_12"/>
        <exclude name="DDR_SUM_13"/>
        <exclude name="DDR_SUM_14"/>
        <exclude name="DDR_SUM_15"/>
        <exclude name="DDR_SUM_16"/>
        <exclude name="DDR_SUM_17"/>
        <exclude name="SR_BUD_01"/>
        <exclude name="SR_BUD_02"/>
        <exclude name="SR_BUD_03"/>
        <exclude name="SR_BUD_04"/>
        <exclude name="SR_BUD_05"/>
        <exclude name="SR_BUD_06"/>
        <exclude name="SR_BUD_07"/>
        <exclude name="SR_BUD_08"/>
        <exclude name="SR_BUD_09"/>
        <exclude name="SR_BUD_10"/>
        <exclude name="SR_BUD_11"/>
        <exclude name="SR_BUD_12"/>
        <exclude name="SR_BUD_13"/>
        <exclude name="SR_BUD_14"/>
        <exclude name="SR_BUD_15"/>
        <exclude name="SR_BUD_16"/>
        <exclude name="CR_ED_01"/>
        <exclude name="CR_ED_02"/>
        <exclude name="CR_ED_03"/>
        <exclude name="CR_ED_04"/>
        <exclude name="CR_ED_05"/>
        <exclude name="CR_ED_06"/>
        <exclude name="CR_ED_07"/>
        <exclude name="CR_ED_08"/>
        <exclude name="CR_ED_09"/>
        <exclude name="CR_ED_10"/>
        <exclude name="CR_ED_11"/>
        <exclude name="CR_ED_12"/>
        <exclude name="CR_ED_13"/>
        <exclude name="CR_ED_14"/>
        <exclude name="CR_ED_15"/>
        <exclude name="CR_ED_16"/>
        <exclude name="CR_ED_17"/>
        <exclude name="CR_EDTL_01"/>
        <exclude name="CR_EDTL_02"/>
        <exclude name="CR_EDTL_03"/>
        <exclude name="CR_EDTL_04"/>
        <exclude name="CR_EDTL_05"/>
        <exclude name="CR_EDTL_06"/>
        <exclude name="CR_EDTL_07"/>
        <exclude name="CR_EDTL_08"/>
        <exclude name="CR_EDTL_09"/>
        <exclude name="CR_EDTL_10"/>
        <exclude name="CR_EDTL_11"/>
        <exclude name="CR_EDTL_12"/>
        <exclude name="CR_EDTL_13"/>
        <exclude name="CR_EDTL_14"/>
        <exclude name="CR_EDTL_15"/>
        <exclude name="CR_EDTL_16"/>
        <exclude name="CR_EDTL_17"/>
        <exclude name="CR_ESR_01"/>
        <exclude name="CR_ESR_02"/>
        <exclude name="CR_ESR_03"/>
        <exclude name="CR_ESR_04"/>
        <exclude name="CR_ESR_05"/>
        <exclude name="CR_ESR_06"/>
        <exclude name="CR_ESR_07"/>
        <exclude name="CR_ESR_08"/>
        <exclude name="CR_ESR_09"/>
        <exclude name="CR_ESR_10"/>
        <exclude name="CR_ESR_11"/>
        <exclude name="CR_ESR_12"/>
        <exclude name="CR_ESR_13"/>
        <exclude name="CR_ESR_14"/>
        <exclude name="CR_ESR_15"/>
        <exclude name="CR_ESR_16"/>
        <exclude name="CR_ESR_17"/>
        <exclude name="CR_SO_01"/>
        <exclude name="CR_SO_02"/>
        <exclude name="CR_SO_03"/>
        <exclude name="CR_SO_04"/>
        <exclude name="CR_SO_05"/>
        <exclude name="CR_SO_06"/>
        <exclude name="CR_SO_07"/>
        <exclude name="CR_SO_08"/>
        <exclude name="CR_SO_09"/>
        <exclude name="CR_SO_10"/>
        <exclude name="CR_SO_11"/>
        <exclude name="CR_SO_12"/>
        <exclude name="CR_SO_13"/>
        <exclude name="CR_SO_14"/>
        <exclude name="CR_SO_15"/>
        <exclude name="CR_SO_16"/>
        <exclude name="CR_SO_17"/>
        <exclude name="CR_SOD_01"/>
        <exclude name="CR_SOD_02"/>
        <exclude name="CR_SOD_03"/>
        <exclude name="CR_SOD_04"/>
        <exclude name="CR_SOD_05"/>
        <exclude name="CR_SOD_06"/>
        <exclude name="CR_SOD_07"/>
        <exclude name="CR_SOD_08"/>
        <exclude name="CR_SOD_09"/>
        <exclude name="CR_SOD_10"/>
        <exclude name="CR_SOD_11"/>
        <exclude name="CR_SOD_12"/>
        <exclude name="CR_SOD_13"/>
        <exclude name="CR_SOD_14"/>
        <exclude name="CR_SOD_15"/>
        <exclude name="CR_SOD_16"/>
        <exclude name="CR_SOD_17"/>
        <exclude name="SR_TBS_01"/>
        <exclude name="SR_TBS_02"/>
        <exclude name="SR_TBS_03"/>
        <exclude name="SR_TBS_04"/>
        <exclude name="SR_TBS_05"/>
        <exclude name="SR_TBS_06"/>
        <exclude name="SR_TBS_07"/>
        <exclude name="SR_TBS_08"/>
        <exclude name="SR_TBS_09"/>
        <exclude name="SR_TBS_10"/>
        <exclude name="SR_TBS_11"/>
        <exclude name="SR_TBS_12"/>
        <exclude name="SR_TBS_13"/>
        <exclude name="SR_TBS_14"/>
        <exclude name="SR_TBS_15"/>
        <exclude name="SR_TBS_16"/>
        <exclude name="SR_TBS_17"/>
        <exclude name="TC_Logout"/>
      </methods>
    </classes>
  </test>
</suite>
